/*----------------------------------------
Color & Font CSS
----------------------------------------*/
:root {
    --body-font: 'DM Sans', sans-serif;
    --heading-font: 'Quicksand', sans-serif;
    --primary-color: #FA575D;
    --color-white: #FFFFFF;
    --body-color: #898989;
    --heading-color: #20212B;
    --bg-color: #FFF3F3;
}