/*----------------------------------------
TABLE OF CONTENTS
------------------------------------------
* Google Font
* Default CSS
* Color & Font CSS
* Banner CSS
* About CSS
* Service CSS
----------------------------------------*/

/*----------------------------------------
* Google Font
----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap');

/*----------------------------------------
* Default CSS
----------------------------------------*/
body {
	font-family: var(--body-font);
	color: var(--body-color);
	font-size: 16px;
	line-height: 30px;
  	font-weight: 400;    
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin: 0;
    font-weight: 700;
}
h1 {
    font-size: 54px;
    line-height: 64px;
}
h2 {
    font-size: 40px;
    line-height: 50px;
}
h3 {
    font-size: 34px;
    line-height: 44px;
}
h4 {
    font-size: 28px;
    line-height: 38px;
}
h5 {
    font-size: 24px;
    line-height: 34px;
}
h6 {
    font-size: 18px;
    line-height: 28px;
}
.container {
    max-width: 1190px;
}
.section_padding {
    padding: 120px 0;
}
@media (max-width: 460px) {
    h2 {
        font-size: 28px;
        line-height: 38px;
    }    
}
@media (max-width: 991px) {
    .section_padding {
        padding: 100px 0;
    }
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767px) {
    .section_padding {
        padding: 80px 0;
    }
}
.subtitle {
    text-transform: uppercase;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.default_btn {
    text-decoration: none;
    color: var(--color-white);
    background: var(--heading-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 42px;
    padding: 15px 40px;
    display: inline-block;
    transition: 0.4s;
    &:hover {
        background: var(--primary-color);
        color: var(--color-white);
    }
}
@keyframes bounce-y {
    0% {        
        transform: translateY(0);
    }
    50% {        
        transform: translateY(-20px);
    }
    100% {        
        transform: translateY(0);
    }
}
@keyframes rotateY {
	100% {
		transform: rotateY(360deg);
	}
}